@media screen and (max-width: 600px) {
  *{
    /* background-color: blue;  */
    overflow-x: hidden;
  
  }
}
.rotate-down {
  transform: rotate(180deg);
  transition: transform 0.5s ease; /* Adjust the duration and easing as needed */
}